#myContainer{/*Principal container of everything*/
    margin:0;
    padding: 0;
    border:solid 1px orange;/*Probar*/
} 

.row{/*Rows*/
    margin:0;
    padding: 0;
} 

#principal{/*Principal container for navigation bar*/
    /*border: solid 1px green;/*Probar*/
    padding: 0;
    margin:0;
    border-bottom: solid 1px #6EC1E4;
}

/*LOGO STYLES*/
#logoContainer{/*Logo container*/
    background: white;
    height: 60px;
    padding: 0;
    border:solid 1px black;/*Probar*/
}

#logo{/*Company logo*/
    margin-left: 20px;
    margin-bottom:10px;
}

#name{/*Company name*/
   margin-top: 10px;
   margin-left:5px;
   color:black;
   font-weight: 800;
   font-size:22px;
}

/*-Positioning logo a name company-*/
/*@media (min-width: 768px) and (max-width: 1243px) {
    #logoContainer{
        padding:0;
    }
    #logo{
        width:30px;
        margin-left:4px;
        margin-top:9px;
    }
    #name{
        margin-top:20px;
        font-size:16px;
    }
    #logoContainer{
        border: solid 1px red;
    }
}*/


#container{/*Navbar objects container*/
    height: 60px;   
    background: #FCF8F3;
    border-radius: 0px 0px 0px 0px;
    border:solid 2px black;/*Probar*/
    padding: 0;/*Prueba busqueda*/
}

#descrip{/*Bookshelf description*/
    margin-top:15px;
    color:black;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    border:solid 1px black;/*Probar*/
}

/*-Disapearing columns between descrip-search and separating line-*/
@media (max-width: 1100px) {
    #space,.vl{
        display: none;
    }
}

/*-Disapearing descrip-*/
@media (max-width: 1000px) {
    #descrip{
        display: none;
    }
}

/*SEARCH STYLES*/

#form{/*Search form*/
    margin-top:15px;
    border:solid 1px red;/*Probar*/
}

#searchContainer{/*Search container*/
    background: rgba(245, 246, 248, 0.51186);
    border: 1px solid #6EC1E4;
    border-radius: 21px 16px 16px 16px;
    margin-top:-5px;
}
#lens{/*Lens icon*/
    color:black;
    margin-left:10px;
}

#search-field{/*Search input*/
    background: rgba(245, 246, 248, 0.51186);
    font-family: Pluto Sans;
    font-size: 14px;
    line-height: 17px;   
    border-radius: 21px 16px 16px 16px;
    border:rgba(245, 246, 248, 0.51186);
}

#search-field::placeholder{
    color: black;
    font-size: 14px;
}

.vl {/*Separation line*/
    border: 0.8px solid #979797;
    background:#979797;
    height:40px;
    margin-top:10px;
    position: absolute;
    left: 80%;
}

#opciones{/*Boton de desplegar opciones*/
    color:black;
    font-family: Pluto Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     margin-left:65px;
}

#login{
    border:solid 1px red;/*Probar*/
    margin-top:25px;
}

/*USER IMAGE STYLES*/

#imageContainer{/*Container for user image*/
    border:solid 1px blueviolet;/*Probar*/
    margin-top:-8px;
    
}

#image{/*User image*/
    border-color: #6EC1E4;
    border-style: solid;
    border-radius: 50%;
    margin-top:15px;
    margin-left:15px;
}

/*-Disapearing user image and reorganizing content-*/
@media (max-width: 768px) {
    #imageContainer{
        display: none;
    }
    /*-Reorganizing content-*/
    #bookshelf{
        float:left;
    }

    #sidebarL{
        float: right;
    }
    /*-Rotating content and sidebar*/
    .cambia{
          transform: rotate(180deg);
          direction: ltr; /* Fix the horizontal alignment */
        }
      
        .cambia > [class*="col-"] {
          transform: rotate(-180deg);
          direction: rtl; /* Fix the horizontal alignment */
        }
}

/*LEFT SIDEBAR STYLES*/

.side{
    border:solid 1px black;
    background: #231F20;
    margin-bottom: 0;
    padding: 0;
}
.subtitle{/*sidebarL subtitles*/
    margin-top:35px;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: left;
    list-style: none;
}

.items{/*sidebarL items*/
    margin-top:12px;
    list-style: none;
    color: #6EC1E4;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: 380;
    font-size: 13px;
}

li i{/*i from li elements of sidebarL*/
   margin-right:20px;
}

#bookshelf{/*Bookshlef container*/
    border: solid 2px red;
    padding:0;
}

/*TOP INFORMATION STYLES*/

#new{
    /*border: solid 1px teal;/*Probar*/
    margin-top:20px;
    margin-left:75px;
    font-family: Pluto Sans;
    font-weight: 390;
    font-size: 14px;
}

#date{
    margin-right:5px;
    margin-top:20px;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #979797;
    float: right;
}

.l {/*Separating line*/
   border: 0.8px solid rgba(151, 151, 151, 0.786628);
    background: rgba(151, 151, 151, 0.786628);
    height:15px;
    margin-top:22px;
    position: absolute;
    left: 50%;
}

#popularity{
    margin-left:5px;
    margin-top:22px;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
}

#icon1{
    margin-top:20px;
    margin-left:30px;
    color: #6EC1E4;
}

#icon2{
    color: #6EC1E4;
}

#prueba{
    border:solid 1px darkblue;
    margin:0;
    height:40px;
    padding: 0;
    
}

.prueba1{
    border:solid 1px darkorange;
    padding: 0;
    height: 40px;
}

/*BOOKS STYLES*/

#books{
    border: solid 1px yellow;
    padding: 10px;
}

.column{
    width:120px;
}






/*RIGHT SIDEBAR STYLES*/

#sidebarR ul li{
    margin-top:20px;
    text-align: left;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    
/* identical to box height */
color: #FCF8F3;
mix-blend-mode: normal;
opacity: 0.7;
list-style: none;
}

#sidebarR ul{
    margin-right:15px;
}
