#myContainer{/*Principal container of everything*/
    margin:0;
    padding: 0;
    border:solid 1px orange;/*Probar*/
} 

.row{/*Rows*/
    margin:0;
    padding: 0;
} 

#principal{/*Principal container for navigation bar*/
    /*border: solid 1px green;/*Probar*/
    padding: 0;
    margin:0;
    border-bottom: solid 1px #6EC1E4;
}

/*LOGO STYLES*/
#logoContainer{/*Logo container*/
    background: white;
    height: 60px;
    padding: 0;
    border:solid 1px black;/*Probar*/
}

#logo{/*Company logo*/
    margin-left: 20px;
    margin-bottom:10px;
}

#name{/*Company name*/
   margin-top: 10px;
   margin-left:5px;
   color:black;
   font-weight: 800;
   font-size:22px;
}

/*-Positioning logo a name company-*/
/*@media (min-width: 768px) and (max-width: 1243px) {
    #logoContainer{
        padding:0;
    }
    #logo{
        width:30px;
        margin-left:4px;
        margin-top:9px;
    }
    #name{
        margin-top:20px;
        font-size:16px;
    }
    #logoContainer{
        border: solid 1px red;
    }
}*/

#container{/*Navbar objects container*/
    height: 60px;   
    background: #FCF8F3;
    border-radius: 0px 0px 0px 0px;
    border:solid 2px black;/*Probar*/
    padding: 0;/*Prueba busqueda*/
}

#descrip{/*Bookshelf description*/
    margin-top:15px;
    color:black;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    border:solid 1px black;/*Probar*/
}

/*-Disapearing columns between descrip-search and separating line-*/
@media (max-width: 1100px) {
    #space,.vl{
        display: none;
    }
}

/*-Disapearing descrip-*/
@media (max-width: 1000px) {
    #descrip{
        display: none;
    }
}

/*SEARCH STYLES*/

#form{/*Search form*/
    margin-top:15px;
    border:solid 1px red;/*Probar*/
}

#searchContainer{/*Search container*/
    background: rgba(245, 246, 248, 0.51186);
    border: 1px solid #6EC1E4;
    border-radius: 21px 16px 16px 16px;
    margin-top:-5px;
}

#lens{/*Lens icon*/
    color:black;
    margin-left:10px;
}

#search-field{/*Search input*/
    background: rgba(245, 246, 248, 0.51186);
    font-family: Pluto Sans;
    font-size: 14px;
    line-height: 17px;   
    border-radius: 21px 16px 16px 16px;
    border:rgba(245, 246, 248, 0.51186);
}

#search-field::placeholder{
    color: black;
    font-size: 14px;
}

.vl {/*Separation line*/
    border: 0.8px solid #979797;
    background:#979797;
    height:40px;
    margin-top:10px;
    position: absolute;
    left: 80%;
}

#options{/*Login button options*/
    color:black;
    font-family: Pluto Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     margin-left:65px;
}

#login{/*Login button*/
    border:solid 1px red;/*Probar*/
    margin-top:25px;
}

/*USER IMAGE STYLES*/
#imageContainer{/*Container for user image*/
    border:solid 1px blueviolet;/*Probar*/
    margin-top:-8px;
    
}

#image{/*User image*/
    border-color: #6EC1E4;
    border-style: solid;
    border-radius: 50%;
    margin-top:15px;
    margin-left:15px;
}

    /*-Reorganizing content-*/
    /* #bookshelf{
        float:left;
    }

    #sidebarL{
        float: right;
    } */
    /*-Rotating content and sidebar*/
    /* .cambia{
          transform: rotate(180deg);
          direction: ltr;
    }
      
        .cambia > [class*="col-"] {
          transform: rotate(-180deg);
          direction: rtl;
        } */


/*LEFT SIDEBAR STYLES*/

.side{/*Left and right sidebar*/
    border:solid 1px black;
    background: #231F20;
    margin-bottom: 0;
    padding: 0;
}
.subtitle{/*Left sidebar subtitles*/
    margin-top:30px;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: left;
    list-style: none;
}

.items{/*Left sidebar items*/
    margin-top:12px;
    list-style: none;
    color: #6EC1E4;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: 380;
    font-size: 11px;
}

li i{/*i from li elements of left sidebar*/
   margin-right:15px;
}

#bookshelf{/*Bookshlef container*/
    border: solid 2px red;
    padding:0;
}

/*TOP INFORMATION STYLES*/
.test{/*Top information columns*/
    height: 40px;
    border:solid 1px fuchsia;
}
#new{/*New releases space*/
    margin-top:10px; 
    margin-left:30%;
    font-family: Pluto Sans;
    font-weight: 390;
    font-size: 14px;
}

#date{/*Releases date space*/
    margin-left:70px;
    margin-top:10px;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #979797;
}

.l {/*Separating line*/
    border: 0.8px solid rgba(151, 151, 151, 0.786628);
    background: rgba(151, 151, 151, 0.786628);
    height:15px;
    margin-top:22px;
    position: absolute;
    left: 50%;
}

#popularity{/*Popularity space*/
    margin-left:4px;
    margin-top:10px;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #858585;
}

#icon1{/*Icon space*/
    margin-top:10px;
    margin-left:90px;
    color: #6EC1E4;
}

#icon2{/*Icon space*/
    color: #6EC1E4;
} 

#topInfoContainer{/*Top information container*/
    border: solid 1px yellowgreen;
    height: 40px;
    padding: 0px;
}

/*BOOKS STYLES*/
.books{/*Book row*/
    height: 251px;
    border:solid 1px blueviolet;
}

.card{/*Card for book information*/
   /* width:140px;*/
    height:251px;
    border:solid 2px orange;
}

.cover{/*Cover of the book*/
    width:100px;
    height: 150px;
    margin-left:20px;
    border:solid 2px darkcyan;
}

.first{/*Fist book*/
     margin-left:68px;
}
.last{
    margin-right:68px;
}
.title{/*Title*/
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    color: #383838;
}

.auth{/*Author*/
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    color: #9E9E9E;
}

.fa-star{/*Rating*/
    font-size: 10px;
    color: #6EC1E4;
}

.pri{
    border:solid 2px lightseagreen;
    height: 251px;
    padding: 0;
}

#portada{
    border: solid 1px red;
    height: 160px;
    padding: 0;
    
}

#titulo{
    border:solid 1px blue;
}





/*RIGHT SIDEBAR STYLES*/

.info{/*Right sidebar information*/
    margin-top:20px;
    text-align: left;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    color: #FCF8F3;
    mix-blend-mode: normal;
    opacity: 0.7;
    list-style: none;
}

#list{/*Title of right sidebar*/
    margin-top:20px;
    list-style: none;
    font-family: Pluto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #FCF8F3;
    mix-blend-mode: normal;
    opacity: 0.7;
}

/*@media screen and (max-width: 800px) {
    .column {
        margin-left:0px;
        width: 10%;
        display: block;
    }
  }

  .first{
      margin-left:0px;
  }
  .column {
    float: left;
    width: 20%;
  }*/

  /*-Disapearing user image and reorganizing content-*/
@media (max-width: 768px) { 
    #imageContainer{
        display: none;
    }
    #login{
        margin-top:10px;
    }
    #options{
        margin-left:39%;
    }
    #container{
        height:100px;
    }
    #searchContainer{
        margin-left:5%;
    }
    
    #new,#date,#popularity,#icon1{
        margin-left:5%;
    }
}

/*Positionig search field in the center*/
@media (max-width: 568px) {
    #searchContainer{
        margin-left:25%;
    }
}

/*Positioning top information elements*/
@media (min-width:768px) and (max-width:950px){
    #new,#date,#popularity,#icon1{
        margin-left:5%;
    }
}
/*Positioning top information elements*/
@media (min-width:991px) and (max-width:1189px){
    #new,#date,#popularity,#icon1{
        margin-left:2%;
    }
}
/*Positioning image container to the right side*/
@media (min-width:768px) and (max-width:1101px){
    #imageContainer{
        margin-left: 5%;
    }

}
/*Disappearing top information*/
@media (max-width: 578px){
    #topInfoContainer{
        display:none;
    }
}
/*Giving size to books container*/
@media (max-width:1234px){
    .first{
        margin-left: 0px;
    }
    .last{
        margin-right: 0px;
    }
    .cover{
        margin-left:0px;
    }
}

@media (max-width:575px){
    #bookshelf{
        height: 3000px;
    }
    
    .books{
        height: 1500px;
    }
}

/*Giving color when hover in left sidebar items*/
.items:hover{
    color:white;
}
/*Giving shadow when hover in a book*/
.cover:hover{
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.94);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.94);
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.94);
}